<!-- wp:template-part {"slug":"header","theme":"kids-toys-store","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"kids-toys-store-banner-section","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"blockGap":"0"},"dimensions":{"minHeight":""}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main id="banner" class="wp-block-group kids-toys-store-banner-section" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:pattern {"slug":"kids-toys-store/banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"kids-toys-store/product-section"} /-->

<!-- wp:pattern {"slug":"kids-toys-store/about-us-section"} /-->
<!-- wp:pattern {"slug":"kids-toys-store/testimonials-section"} /-->
<!-- wp:pattern {"slug":"kids-toys-store/faq-section"} /-->
<!-- wp:pattern {"slug":"kids-toys-store/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"kids-toys-store","tagName":"footer"} /-->